footer {
    background-color: #212529;
    width: 100%;
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        p {
            margin: 0;
            padding: .7em 0;
            font-weight: bold;
            font-size: 1rem;
            color: white;
        }
        a {
            display: none;
        }
    }
}

@media only screen and (min-width: 576px) {
    footer {
        .container {
            p {
                font-size: 1.1rem;
                padding: .8em 0;
            }
            a {
                display: block;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    footer {
        .container {
            p {
                font-size: 1.2rem;
                padding: .9em 0;
            }
        }
    }
}